/* Cuerpo */
body{
	font-family: dancing Script;
	background-color: black;
}

/* Cabecera */
header{
	background-color: #5b7989;
	height: 80px;
	border-radius: 10px 10px 0 0;
}

#Contenido{
	width: 900px;
	margin: auto;
}

/* Nombre del Sitio */
header h1{
	float: left;
	padding-left: 2%;
	color: white;
	text-shadow: 2px 2px 0 #02010a;
}

/* Menú */
#banner nav {
	font-size: 17px;
	float: right;
}

#banner nav li {
	display: inline-block;
}

	#banner nav a:link, #banner nav a:visited {
		color: white;
		display: inline-block;
		height: 30px;
		padding: 10% 1em 0 0;
	}

	#banner nav .active a:link, #banner nav .active a:visited {
		text-decoration: none;
	}

/* Imágen Central */
#Contenido-1{
	width: 900px;
	margin: auto;
	background-color: #82c3a6;
}

.ImgNaturaleza{
	padding: 5%;
}

/* Secciones */
#Contenido2{
	width: 900px;
	margin: auto;
	background-color: #d5c75f;
}

/* Secciones Fotos */
.ImgPaisaje{
	border: solid 1px;
	width: 40%;
	height: 40%;
	margin: 5% 0 0 5%;
}

.ImgRetrato{
	border: solid 1px;
	width: 40%;
	height: 40%;
	margin: 5% 5% 0 5%;
}

/* Secciones Textos */
p.Paisaje{
	text-align: center;
	width: 40%;
	margin: 0 0 2% 5%;
}

p.Retrato{
	text-align: center;
	width: 40%;
	margin: 0 5% 2% 5%
}

#Contenido2 > img{
	flex: auto;
}

#Contenido2{
	display: flex;
	flex-flow: row wrap;
}

/* Pié del Sitio */
Footer {
	background-color: #C6D5C5;
	border-radius: 0 0 10px 10px;
}

#Contenido3 {
	width: 900px;
	margin: auto;
}

/* Títulos del Pié */
#Title h1 {
	flex: auto;
	margin: 7% 0 0 0;
}

#Title p {
	margin: 0 0 10% 0;
}

#Title {
	display: flex;
	flex-flow: row wrap;
}

.Contacto {
	width: 22%;
	height: 20px;
	margin: 0 0 0 5%;
}

.Terminos {
	width: 20%;
	margin: 0 0 0 3%;
}

.Redes {
	width: 25%;
	margin: 0 0 0 3%;
}

.Derechos {
	width: 19%;
	margin: 0 0 0 3%;
}













