body{
	font-family: dancing Script;
	background-color: black;
}

#Contenido{
	width: 900px;
	margin: auto;
}

header{
	background-color: #5b7989;
	height: 80px;
	border-radius: 10px 10px 0 0;
}

header h1{
	float: left;
	padding-left: 2%;
	color: white;
	text-shadow: 2px 2px 0 #02010a;
}

#banner nav {
	font-size: 17px;
	float: right;
}

#banner nav li {
	display: inline-block;
}

	#banner nav a:link, #banner nav a:visited {
		color: white;
		display: inline-block;
		height: 30px;
		padding: 10% 1em 0 0;
	}

	#banner nav .active a:link, #banner nav .active a:visited {
		text-decoration: none;
	}

#Contenido-1{
	width: 900px;
	margin: auto;
	background-color: #82c3a6;
}

.ImgNaturaleza{
	padding: 5%;
}

#Contenido2{
	width: 900px;
	margin: auto;
	background-color: #d5c75f;
}

.ImgPaisaje{
	border: solid 1px;
	width: 40%;
	height: 40%;
	margin: 5% 0 0 5%;
}

.ImgRetrato{
	border: solid 1px;
	width: 40%;
	height: 40%;
	margin: 5% 5% 0 5%;
}

p.Paisaje{
	text-align: center;
	width: 40%;
	margin: 0 0 2% 5%;
}

p.Retrato{
	text-align: center;
	width: 40%;
	margin: 0 5% 2% 5%
}

#Contenido2 > img{
	flex: auto;
}

#Contenido2{
	display: flex;
	flex-flow: row wrap;
}




